<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869469020291-sk5q06gqbav79ag8g57qq67qv7o405ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869469020291-sk5q06gqbav79ag8g57qq67qv7o405ke</string>
	<key>API_KEY</key>
	<string>AIzaSyDBj3pnp9R8t76aD7DAmiBrMeXVpRw7v0g</string>
	<key>GCM_SENDER_ID</key>
	<string>869469020291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studio.zpdl.countryBeforeTravel</string>
	<key>PROJECT_ID</key>
	<string>country-before-travel</string>
	<key>STORAGE_BUCKET</key>
	<string>country-before-travel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869469020291:ios:e94e2b979e6bdc8d42fbb6</string>
</dict>
</plist>